# Build output
/target
**/target

# devenv
.devenv
.direnv

# Locally installed cargo binaries
.bin

# Editor and OS noise
.DS_Store
*.swp

# npm
node_modules
*.tsbuildinfo

# Coverage output
lcov.info
coverage/

# Locally generated reports
report.json
score.txt
